.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333; /* Color oscuro para que resalte */
  color: white;
  width: 100%;
}